@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Rubik&display=swap');

/* font-family: 'Lato', sans-serif; */




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sliderContainer {
  padding-bottom: 3em;
}
/* price range slider  */
input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 33%;
  
}
input[type=range]:focus {
  outline: none;
  
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 19x;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
  
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 19px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 19x;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 19px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 19x;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
  
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 19px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
  

}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

.range-prices {
  color: lightskyblue;
  padding-left: .5em;
  padding-right: .5em;
  font-size: 1.4em;
  font-weight: 700;
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Lato', sans-serif;


}
.main-container-price-range-home {
  padding-top: 2em;
}

#budget-price-home-page {
  color: rgb(8, 8, 8);
  font-size: 2.3em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}


.container-monthly-price-range-title-home {
  padding-bottom: 1em;
}
#monthly-price-range-title-home {
    color: red;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
  }

.monthly-price-range-submitbtn {
  background-color: lightcyan;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  color: rgb(58, 51, 51);
  font-weight: 700;
  border: 1px solid silver;
  border-radius: 7px;
  font-size: 15px;
  
}

.home-page-image-container {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  min-height: 5%;
  /* overflow: hidden; */
  width: 20%;
  height: 15em;
  max-height: 30em;
 
}

.home-page-gym-logoimage {
  width: 80%;
  max-width: 80%;
  height: 15vh;
  max-height: 15h;

}

.selected-price-popup {
  color: rgb(255, 187, 0);
  font-size: 28px;
  margin-bottom: 2em;
  font-weight: 700;
}

.individual-gym-info-container-home-page {

  background-color: rgb(181, 228, 247);
  height: 25vh;
  min-height: 20vh;
  max-height: 30vh;
  width: 100%;
  text-align: left;
  margin-top: 2em;
  border: 3px solid black;
  border-radius: 6px;
}

#individual-gym-info-name-home-page {
  text-align: center;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: rgb(252, 53, 53);

}

.individual-gym-info-home-page {
  font-size: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;

}

.label-gyminfo-home-page {
  margin-right: .5em;
  font-weight: 600;
}

